<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="SONG_PATH" value="C:\\Users\\goran\\Desktop\\Projekat_A-Skocko\\Projekat_A-Skocko\\song.wav"/>
    <add key="MONKEY_IMG" value="C:\\Users\\goran\\Desktop\\Projekat_A-Skocko\\Projekat_A-Skocko\\images\\monkey.png"/>
    <add key="BANANA_IMG" value="C:\\Users\\goran\\Desktop\\Projekat_A-Skocko\\Projekat_A-Skocko\\images\\banana.png"/>
    <add key="GIRAFFE_IMG" value="C:\\Users\\goran\\Desktop\\Projekat_A-Skocko\\Projekat_A-Skocko\\images\\giraffe.png"/>
    <add key="LION_IMG" value="C:\\Users\\goran\\Desktop\\Projekat_A-Skocko\\Projekat_A-Skocko\\images\\lion.png"/>
    <add key="JUNGLE_IMG" value="C:\\Users\\goran\\Desktop\\Projekat_A-Skocko\\Projekat_A-Skocko\\images\\jungle.png"/>
    <add key="OK_IMG" value="C:\\Users\\goran\\Desktop\\Projekat_A-Skocko\\Projekat_A-Skocko\\images\\OK.png"/>
    <add key="NOT_IMG" value="C:\\Users\\goran\\Desktop\\Projekat_A-Skocko\\Projekat_A-Skocko\\images\\NOT.png"/>
    <add key="IMG_FOLDER" value="C:\\Users\\goran\\Desktop\\Projekat_A-Skocko\\Projekat_A-Skocko\\images\\"/>
    <add key="WIN_TEXT" value="Congratulations! You found the winning combination."/>
    <add key="LOSE_TEXT" value="You lost the game."/>
    <add key="CRY_MONKEY_IMG" value="C:\\Users\\goran\\Desktop\\Projekat_A-Skocko\\Projekat_A-Skocko\\images\\cry.png"/>
    <add key="HAPPY_MONKEY_IMG" value="C:\\Users\\goran\\Desktop\\Projekat_A-Skocko\\Projekat_A-Skocko\\images\\perfect.png"/>
    <add key="SCORE_FILE" value="C:\\Users\\goran\\Desktop\\Projekat_A-Skocko\\Projekat_A-Skocko\\score.txt"/>
  </appSettings>
</configuration>
